	<% if message.is_guide %>
		<p style="text-align: right;"><%= message.body %><br></p>
	<% else %>
		<p style="text-align: left;"><%= message.body %><br></p>
  <% end %>

<% else %>
	<% if message.is_guide %>
		<p style="text-align: left;"><%= message.body %><br></p>
	<% else %>
		<p style="text-align: right;"><%= message.body %><br></p>
  <% end %>

<% end %>