<div class="nested-fields">

<%= f.select :guide_place,
{
大阪府: "大阪府(Osaka)" ,
京都府: "京都府(Kyoto)" ,
三重県: "三重県(Mie)" ,
滋賀県: "滋賀県(Shiga)" ,
兵庫県: "兵庫県(Hyogo)" ,
奈良県: "奈良県(Nara)" ,
和歌山県: "和歌山県(Wakayama)"}, :include_blank => true
%>

</div>
