<div class="nested-fields">

 <%= f.select :guide_country,
{
日本: "日本(Japan)" ,
アメリカ: "アメリカ(US)" ,
イギリス: "イギリス(UK)" ,
中国: "中国(China)" ,
台湾: "台湾(Taiwan)" ,
香港: "香港(HongKong)" ,
韓国: "韓国(Korea)" ,
スペイン: "スペイン(Spain)" ,
イタリア: "イタリア(Italy)"}, :include_blank => true
%>

 <%= link_to_remove_association "削除", f %>
</div>

