<div class="about-box">
  <div class="circle">
  	<div class="about-title">WING IT にようこそ！</div>
  	<div class="about-content">

  		このサイトは、
  		・日本に観光に来ているけどどこを観光していいのかわからない...<br>
			・一人旅で日本に来たけど話し相手がいない、寂しい...<br>
			・せっかく日本に来たのだから、日本人の友達が欲しい... そういった外国人と、<br>

			・英語や韓国語（または他の言語）の練習がしたい...<br>
			・外国人の友達が欲しい...<br>
			そういった日本人のための、マッチングアプリケーションです！

  	</div>
  </div>
</div>