@import "bootstrap";

h1{
	padding: 50px;
	text-align: center;
}
.top-logo{
    height: 650px;
	background-color: #fff5ee;
  	background-size: cover;
    background-repeat: no-repeat;
 	background-attachment: fixed;
}

