// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.top{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  background-color: #fffafa;
}

.top-image{
    height: 700px;
    background-image: url(brevite-KJWjsztHPPU-unsplash.jpg);
  	background-size: cover;
  	background_position: center center;
    background-repeat: no-repeat;
 	  background-attachment: fixed;
}

.top-logo{
  text-shadow: 1px 1px 4px rgba(0,0,0,0.4);
  color: #fff;
  letter-spacing: 1.0rem;
  font-size :200px;
}

.card{
  margin: auto;
}
