// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.guide-page-messages .guide-message {
  text-align: right;
}
.guide-page-messages .tourist-message {
  text-align: left;
}
.tourist-page-messages .guide-message {
  text-align: left;
}
.tourist-page-messages .tourist-message {
  text-align: right;
}