<div class="nested-fields">

 <%= f.select :tourist_practicing,
{
Japanese: "Japanese(日本語)" ,
English: "English(英語)" ,
Mandarin: "Mandarin(北京語)" ,
Cantonese: "Cantonese(広東語)" ,
Korean: "Korean(韓国語)" ,
Spanish: "Spanish(スペイン語)" ,
Italiano: "Italiano(イタリア語)" ,
French: "French(フランス語)"}, :include_blank => true
%>
    <%= link_to_remove_association "削除", f %>
</div>
