<div class="nested-fields">

 <%= f.select :tourist_practicing,
{
日本語: "日本語" ,
英語: "英語" ,
中国語: "中国語" ,
韓国語: "韓国語" ,
スペイン語: "スペイン語" ,
イタリア語: "イタリア語" ,
フランス語: "フランス語"}
%>
    <%= link_to_remove_association "削除", f %>
</div>
