<div class="nested-fields">

<%= f.select :sightseeing_place,
{
Osaka: "Osaka(大阪)" ,
Kyoto: "Kyoto(京都)" ,
Mie: "Mie(三重)" ,
Shiga: "Shiga(滋賀)" ,
Hyogo: "Hyogo(兵庫)" ,
Nara: "Nara(奈良)" ,
Wakayama: "Wakayama(和歌山)"}, :include_blank => true
%>

<%= link_to_remove_association "削除", f %>

</div>
